﻿<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/home/img/favicon.png" type="image/png">
    <title>Travel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/home/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/home/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/home/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/home/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/home/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/Content/home/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/home/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/home/vendors/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/home/vendors/scroll/jquery.mCustomScrollbar.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/home/css/style.css">
    @RenderSection("Css", required: false)

</head>

<body>
    @RenderSection("Menu", required: false)
    @RenderBody()
    @RenderSection("Footer", required: false)
    <script src="~/Content/home/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/home/js/popper.js"></script>
    <script src="~/Content/home/js/bootstrap.min.js"></script>
    <script src="~/Content/home/js/stellar.js"></script>
    <script src="~/Content/home/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/home/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/home/vendors/isotope/isotope-min.js"></script>
    <script src="~/Content/home/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/home/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/home/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/home/js/mail-script.js"></script>
    <script src="~/Content/home/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/home/vendors/swiper/js/swiper.min.js"></script>
    <script src="~/Content/home/vendors/scroll/jquery.mCustomScrollbar.js"></script>
    <script src="~/Content/home/js/theme.js"></script>
    @RenderSection("Script", required: false)
</body>

</html>