<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user to T1808M Database</title>
</head>
<body>
<h1>Create new User</h1>
<form th:action="@{saveProduct}" method="post" th:object="${product}">
    <label th:text="Name" th:for="name"></label>
    <input type="text" th:field="*{name}" placeholder="Name"><br/>
    <label th:text="Amount" th:for="amount"></label>
    <input type="text" th:field="*{amount}" placeholder="Amount"><br/>
    <label th:text="Info" th:for="info"></label>
    <input type="text" th:field="*{infor}" placeholder="Information"><br/>
    <input type="submit" value="Save">
</form>
</body>
</html>