<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage user</title>
</head>
<body>
       <h1>User Management</h1>
       <table>
           <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Phone</th>
               <th>CRUD</th>
           </tr>
           <tr th:each="user: ${users}">
               <td th:text="${user.name}"></td><br/>
               <td th:text="${user.email}"></td><br/>
               <td th:text="${user.phone}"></td><br/>
               <td>
                   <a th:href="@{/edit?id={id}(id=${user.id})}">Edit</a>
                   <a th:href="@{/delete?id={id}(id=${user.id})}">Delete</a>
               </td>
           </tr>
       </table>
<a href="/add">Create User</a>
</body>
</html>