<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage user</title>
</head>
<body>
<h1>User Management</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Information</th>
        <th>CRUD</th>
    </tr>
    <tr th:each="user: ${products}">
        <td th:text="${user.name}"></td><br/>
        <td th:text="${user.amount}"></td><br/>
        <td th:text="${user.infor}"></td><br/>
        <td>
            <a th:href="@{/edit?id={id}(id=${product.id})}">Edit</a>
            <a th:href="@{/delete?id={id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/product/addProduct">Create Products</a>
</body>
</html>