﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELO WORK</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BankAPP</h2>
        <p>
            Bài Tập Khó Nói
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>