﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>THUYEN_KOREA </p>
</div>
   
    <div>
        @Html.ActionLink("INDIVIDUAL", "Index", "INDIVIDUALs")
    </div>
    <div>
        @Html.ActionLink("BUSINESS", "Index", "BUSINESSES")
    </div>
    <div>
        @Html.ActionLink("CUSTOMER", "Index", "CUSTOMERs")
    </div>
    <div>
        @Html.ActionLink("OFFICER", "Index", "OFFICERs")
    </div>
    <div>
        @Html.ActionLink("ACCOUNT", "Index", "ACCOUNTs")
    </div>
    <div>
        @Html.ActionLink("ACC_TRANSACTION", "Index", "ACC_TRANSACTION")
    </div>
    <div>
        @Html.ActionLink("BRANCH", "Index", "BRANCHes")
    </div>
    <div>
        @Html.ActionLink("EMPLOYEE", "Index", "EMPLOYEEs")
    </div>
    <div>
        @Html.ActionLink("DEPARTMENT", "Index", "DEPARTMENTs")
    </div>
    <div>
        @Html.ActionLink("PRODUCT_TYPE", "Index", "PRODUCT_TYPEs")
    </div>
    <div>
        @Html.ActionLink("PRODUCT", "Index", "PRODUCTs")
    </div>



